(block conpot_podman
    (blockinherit container)
    (allow process http_port_t ( tcp_socket ( name_connect )))
    (allow process self ( tcp_socket ( listen )))
    (allow process node_t ( tcp_socket ( node_bind )))
    (allow process node_t ( udp_socket ( node_bind )))
    (allow process unreserved_port_t ( tcp_socket ( name_bind )))
    (allow process unreserved_port_t ( udp_socket ( name_bind )))
    (allow process ftp_port_t ( tcp_socket ( name_bind )))
    (allow process ipmi_port_t ( udp_socket ( name_bind )))
    (allow process reserved_port_t ( tcp_socket ( name_bind )))
    (allow process snmp_port_t ( udp_socket ( name_bind )))
    (allow process tftp_port_t ( udp_socket ( name_bind )))
)
